body{

    margin: 60px;
    padding: 0;

}

header{

    height: 100px;
    width: 100%;
    background-color: rgb(107, 96, 96);
    position: fixed;

}

ul li a {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    color: rgb(24, 18, 18);
    cursor: pointer;
    text-decoration: none;

}

.Logo-div {

    margin-left: 20px;

}

.Right-header{

    margin-right: 20px;
    justify-content: end;
    align-items: end;

}

