
header{

    height: 100px;
    width: 100%;
    background-color: rgb(107, 96, 96);
    position: fixed;

}

.Header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

ul {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

ul li a {

    margin: 0 20px;
    font-size: 20px;
    color: rgb(24, 18, 18);
    text-decoration: none;

}

.Logo-div {

    margin-left: 20px;

}

.Right-header{

    display: flex;
    gap: 10px;
    margin-right: 20px;

}

button {

    padding: 10px 15px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;

}

