body{

    margin: 60px;
    padding: 0;

}

header{

    height: 70px;
    width: 100%;
    background-color: rgb(107, 96, 96);
    position: fixed;
    top: 0;

}

nav ul li {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    color: rgb(24, 18, 18);
    cursor: pointer;
    text-decoration: none;

}